*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1210px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

input {
  appearance: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  inline-size: 100%;
  block-size: 100%;
  gap: 30px;
}

.result {
  align-self: flex-end;
  inline-size: 58.95%;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  row-gap: 40px;
  align-items: start;
  margin-inline-start: 2px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-block-end: 5px;
}

.search-form__label {
  display: flex;
  inline-size: fit-content;
}

.search-form__label:focus {
  outline: none;
  border: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  appearance: none;
  inline-size: 225px;
  block-size: 27px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: inherit;
  background-color: transparent;
  border: none;
  border-block: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.6);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  cursor: pointer;
  margin-inline-end: 5px;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
}

.search-form__pseudo-checkbox:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
}

.button {
  cursor: pointer;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: inherit;
  background-color: transparent;
  border: 1px solid #fff;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  align-self: self-end;
  block-size: 34px;
  padding: 5px 72px;
}

.content__details {
  align-self: flex-end;
  inline-size: 34.25%;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  margin-block-end: 22px;
  text-transform: uppercase;
  margin-block-start: 2px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  inline-size: 399px;
  block-size: 298px;
  margin-block-start: auto;
  overflow-y: auto;
  scrollbar-gutter: auto;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description-container {
  inline-size: 100%;
  flex-grow: 1;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  inline-size: 200px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  inline-size: 200px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
  block-size: 34px;
  padding: 6px 135.5px;
}
